{% extends 'base.html' %}
{% load static %}
{% block title %}Проекты{% endblock title %}

<!-- Begin sidebar -->
{% block sidebar %}
    <div class="list-group" id="list-tab" role="tablist">
        {% if request.user.is_authenticated %}
            <a class="list-group-item list-group-item-action" href="{% url "home" %}" role="tab">Главная</a>
            <a class="list-group-item list-group-item-action active" href="{% url "projects-list" %}" role="tab">Проекты</a>
            <a class="list-group-item list-group-item-action" href="{% url "counterparty-list" %}" role="tab">Контрагенты</a>
            <a class="list-group-item list-group-item-action" href="#{% url "projects-list" %}" role="tab">НТД</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Сообщения</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Настройки</a>
        {% endif %}
    </div>
{% endblock %}

<!-- Begin nav_bar -->
{% block nav_bar %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            {% comment %} <li class="breadcrumb-item"><a href="{% url "projects-list" %}">Проекты</a></li> {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Проекты</li>
        </ol>
    </nav>
{% endblock %}

<!-- Begin content -->
{% block content %}
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding: 0px 20px 10px 0px;">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url "project-add" %}">Добавить проект</a>
                    {% endif %}
                </div>
            </div>
            <div class="col" style="padding: 0px 20px 10px 0px;">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url "project-save" %}">Сохранить отчет</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Наименование проекта</th>
                            <th scope="col">Адрес объекта</th>
                            <th scope="col">Заказчик</th>
                            <th scope="col">Застройщик</th>
                            <th scope="col">Генподрядчик</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td scope="row">{{ project.id }} </td>
                                <td>
                                    <a href="{% url "project-detail" project.id %}">{{project.name_project}}</a>
                                    {% if project.user == request.user %}
                                        <a href="{% url "project-edit" project.id %}">
                                            <i style="color: blue;" class="bi bi-pencil-square"></i>
                                        </a>
                                        <a href="{% url "project-delete" project.id %}">
                                            <i style="color: red;" class="bi bi-trash"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{project.projects_adres}}</td>
                                <td>{{project.zakazchik_name}}</td>
                                <td>{{project.zastroschik_name}}</td>
                                <td>{{project.genpodryadchyk_name}}</td>
                                <td>{{project.project_status}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4"> Нет доступных проектов! </td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                </table> 
                <div align = "right">
                    <i style="color: gray;">Всего проектов: {{ projects.count }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

