{% extends 'base.html' %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <fieldset disabled>
                <div class="row disabled">
                    <div class="col col-8">
                        Сокращенное наименование организации: <input type="text" value="{{counterparty.name_sokr}}" class="form-control">
                        Полное наименование организации: <input type="text" value="{{counterparty.name_poln}}" class="form-control">
                        Юридический адрес: <input type="text" value="{{counterparty.ur_adres}}" class="form-control">
                        Почтовый адрес: <input type="text" value="{{counterparty.pocht_adres}}" class="form-control">
                        ИНН: <input type="text" value="{{counterparty.inn}}" class="form-control">
                        КПП: <input type="text" value="{{counterparty.kpp}}" class="form-control">
                        ОГРН: <input type="text" value="{{counterparty.ogrn}}" class="form-control">
                        Наименование банка: <input type="text" value="{{counterparty.name_bank}}" class="form-control">
                        р/с: <input type="text" value="{{counterparty.rs}}" class="form-control">
                        к/с: <input type="text" value="{{counterparty.ks}}" class="form-control">
                        БИК: <input type="text" value="{{counterparty.bik}}" class="form-control">
                        Номер телефона: <input type="text" value="{{counterparty.phone}}" class="form-control">
                        E-mail: <input type="text" value="{{counterparty.email}}" class="form-control">
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}