{% extends 'base.html' %}
{% load static %}
{% block title %}PTO мастер{% endblock title %}
{% block content %}

    <!-- Begin page content -->
    {% comment %} class="container mt-5 bg-light" {% endcomment %}
    <div>
        <div class="row mx-0 border border-2 border-dark rounded-O ">
            <div class="col-2 border border-1">

            </div>
            <div class="col-10 border border-1">
                <p>
                    1.4.1. Субподрядчик обязуется обеспечивать выполнение работ с ручным, электро и пневмоинструментом в соответствии с требованиями правил по охране труда при работе с инструментом и приспособлениями, утвержденных Приказом Минтруда России от 27.11.2020 № 835н.
                    1.4.2. Субподрядчик обязан осуществлять работы ручными, электро- и пневмоинструментами, находящимися в безопасном работоспособном состоянии.
                    1.4.3. Субподрядчик обязуется работать с электроинструментом, имеющим заземление и двойную изоляцию, с гарантированной проверкой заземления оборудования и защитой от короткого замыкания на землю.
                    1.4.4. Субподрядчик обязуется допускать к работе только тех работников, использующих электро- и пневмоинструмент, которые прошли необходимое обучение.
                    1.4.5. Субподрядчик гарантирует, что все механизмы, инструменты и оборудование сертифицированы (если это необходимо), имеют разрешительную документацию (паспорт в читаемом варианте, экспертизу), и содержатся в исправном состоянии. Пользователи таких механизмов, инструментов и оборудования надлежащим образом подготовлены и обучены, имеют соответствующий опыт работы с ними и, если это необходимо, имеют соответствующее разрешение и сертификат.
                    1.4.6. Субподрядчик обязан проводить проверки безопасности оборудования и предоставлять Заказчику-Генподрядчику-Подрядчику письменные отчеты в соответствии с регламентами и/или инструкциями по эксплуатации оборудования (по требованию Заказчика-Генподрядчика-Подрядчика).
                    1.4.7. Субподрядчик гарантирует, что все вращающиеся или движущиеся детали всех инструментов и оборудования соответствующим образом ограждены, чтобы предотвратить их случайный контакт с персоналом. На оборудовании имеются необходимые знаки безопасности.
                    1.4.8. Субподрядчик обязан вести регистрационный журнал всего подъемного оборудования и инструмента и предоставлять акты проверки (по запросу) на все краны, подъемные стрелы и подъемные тросы, грузозахватные приспособления и инструменты до использования перечисленного оборудования при выполнении работ / услуг.
                    1.4.9. Все оборудование должно проходить регулярное техническое обслуживание и ремонт в соответствии с требованиями завода-изготовителя.
                    1.4.10. Копии всех сертификатов об испытаниях и техобслуживании кранов, талей, крановых стрел и подъемного оборудования, СГЗП и тары должны находиться у Субподрядчика и предоставляться Заказчику/Генподрядчику/Подрядчику по требованию.
                </p>
            </div>
            {% comment %} <div class="col border border-1"></div>
            <div class="col border border-1"></div> {% endcomment %}
        </div>
        {% comment %} <div class="row mx-0 bg-secondary border border-2 border-dark rounded-O">
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
        </div> {% endcomment %}


            {% comment %} <div class="col-2" style="border:5px solid #6d6e6dff">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1">Личный кабинет пользователя</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                        </nav>
                        <a class="nav-link" href="#item-2">Item 2</a>
                        <a class="nav-link" href="#item-3">Item 3</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                        </nav>
                    </nav>
                </nav>
            </div> {% endcomment %}

            {% comment %} <div class="col-10" style="border:5px solid #1100ffff">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                    <div id="item-1">
                        <h4>Item 1</h4>
                        <p>wwwww</p>
                    </div>
                    <div id="item-1-1">
                        <h5>Item 1-1</h5>
                        <p>eeeee</p>
                    </div>
                    <div id="item-1-2">
                        <h5>Item 1-2</h5>
                        <p>...</p>
                    </div>
                    <div id="item-2">
                        <h4>Item 2</h4>
                        <p>...</p>
                    </div>
                    <div id="item-3">
                        <h4>Item 3</h4>
                        <p>...</p>
                    </div>
                    <div id="item-3-1">
                        <h5>Item 3-1</h5>
                        <p>...</p>
                    </div>
                    <div id="item-3-2">
                        <h5>Item 3-2</h5>
                        <p>...</p>
                    </div>
                </div>
            </div> {% endcomment %}
    </div>









        {% comment %} <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Добро пожаловать, уважаемый пользователь!
                <p>На этом сайте ты сможешь разработать свою исполнительную докментацию
                <hr>
            </div>
        </div>
     
        
        
        <div>
            <a class="btn btn-outline-secondary" href="{% url "add-folder" %}">Создать директорию</a>
        </div> 

        <div>
            <a class="btn btn-outline-secondary" href="{% url "auth-user" %}">auth-user</a>
        </div>  {% endcomment %}
           
        
        {% comment %} <div>
            <a class="btn btn-outline-secondary" href="{% url "projects_list" %}">Проекты</a>
        </div> {% endcomment %}
        

        
        {% comment %} <div>
            <a class="btn btn-outline-secondary" href="{% url "ojr" %}">ОЖР</a>
        </div> {% endcomment %}

        {% comment %} <div class="row mt-3">
            <div class="col">
                <hr>
                <h4>Найти проект по номеру</h4>
                <form action='' id="view_snippet_form">
                    <div class="form-group row">
                        <label for="snippet_id" class="col-sm-2 col-form-label col-form-label-lg">Номер:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control form-control-lg" id="snippet_id"
                                   placeholder="введите число">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="form-control form-control-lg btn btn-info" value="Найти">
                        </div>
                    </div>
                </form>
            </div>
        </div> {% endcomment %}

{% endblock %}