{% extends 'base.html' %}
{% load static %}
{% block title %}PTO мастер{% endblock title %}

{% block sidebar %}
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Главная</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Профиль</a>
        <a class="list-group-item list-group-item-action" href="{% url "projects-list" %}" role="tab">Проекты</a>
        <a class="list-group-item list-group-item-action" href="{% url "counterparty-list" %}" role="tab">Контрагенты</a>
        <a class="list-group-item list-group-item-action" href="{% url "projects-list" %}" role="tab">Журналы</a>
        <a class="list-group-item list-group-item-action" href="#{% url "projects-list" %}" role="tab">ОТ, ТБ и ООС</a>
        <a class="list-group-item list-group-item-action" href="#{% url "projects-list" %}" role="tab">Документооборот</a>
        <a class="list-group-item list-group-item-action" href="#{% url "projects-list" %}" role="tab">НТД</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Сообщения</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Настройки</a>
    </div>
{% endblock %}

{% block content %}
    <!-- Begin page content -->
    {% comment %} class="container mt-5 bg-light" {% endcomment %}

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            1.4.1. Субподрядчик обязуется обеспечивать выполнение работ с ручным, электро и пневмоинструментом в соответствии с требованиями правил по охране труда при работе с инструментом и приспособлениями, утвержденных Приказом Минтруда России от 27.11.2020 № 835н.
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            1.4.2. Субподрядчик обязан осуществлять работы ручными, электро- и пневмоинструментами, находящимися в безопасном работоспособном состоянии.
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            1.4.3. Субподрядчик обязуется работать с электроинструментом, имеющим заземление и двойную изоляцию, с гарантированной проверкой заземления оборудования и защитой от короткого замыкания на землю.
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            1.4.4. Субподрядчик обязуется допускать к работе только тех работников, использующих электро- и пневмоинструмент, которые прошли необходимое обучение.
        </div>
    </div> 




            {% comment %} <div class="col border border-1"></div>
            <div class="col border border-1"></div> {% endcomment %}

        {% comment %} 
        <div class="row mx-0 bg-secondary border border-2 border-dark rounded-O">
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
            <div class="col border border-1"></div>
        </div> 
        {% endcomment %}


            {% comment %} 
            <div class="col-2" style="border:5px solid #6d6e6dff">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1">Личный кабинет пользователя</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                        </nav>
                        <a class="nav-link" href="#item-2">Item 2</a>
                        <a class="nav-link" href="#item-3">Item 3</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                        </nav>
                    </nav>
                </nav>
            </div> 
            {% endcomment %}


        {% comment %} <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Добро пожаловать, уважаемый пользователь!
                <p>На этом сайте ты сможешь разработать свою исполнительную докментацию
                <hr>
            </div>
        </div>
    
        
        
        <div>
            <a class="btn btn-outline-secondary" href="{% url "add-folder" %}">Создать директорию</a>
        </div> 

        <div>
            <a class="btn btn-outline-secondary" href="{% url "auth-user" %}">auth-user</a>
        </div>  {% endcomment %}
            
        
        {% comment %} <div>
            <a class="btn btn-outline-secondary" href="{% url "projects_list" %}">Проекты</a>
        </div> {% endcomment %}
        

        
        {% comment %} <div>
            <a class="btn btn-outline-secondary" href="{% url "ojr" %}">ОЖР</a>
        </div> {% endcomment %}

        {% comment %} <div class="row mt-3">
            <div class="col">
                <hr>
                <h4>Найти проект по номеру</h4>
                <form action='' id="view_snippet_form">
                    <div class="form-group row">
                        <label for="snippet_id" class="col-sm-2 col-form-label col-form-label-lg">Номер:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control form-control-lg" id="snippet_id"
                                    placeholder="введите число">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="form-control form-control-lg btn btn-info" value="Найти">
                        </div>
                    </div>
                </form>
            </div>
        </div> {% endcomment %}

{% endblock %}