<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style_test.css' %}">
</head>
<body>
    <div id="desktoptopbar-1012-innerCt" class="x-column-inner" style="width: 941px;">
        {% comment %} <div class="x-container x-column x-container-default x-box-layout-ct" style="width:120px;" id="container-1015">
            <div id="container-1015-innerCt" class="x-box-inner " role="presentation" style="width: 120px; height: 52px;">
                <div id="container-1015-targetEl" style="position: absolute; width: 120px; left: 0px; top: 0px; height: 1px;">
                    <div class="x-btn x-box-item x-btn-mainMenu-small x-noicon x-btn-noicon x-btn-mainMenu-small-noicon btn-b4" 
                        style="padding: 6px 0px; border-width: 1px; left: 0px; margin: 0px; width: 60px;" id="button-1042">
                        <em id="button-1042-btnWrap">
                            <button id="button-1042-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Главное меню" style="height: 30px; width: 59px;">
                                <span id="button-1042-btnInnerEl" class="x-btn-inner" style="height: auto; line-height: normal; width: 59px;">
                                    <span class="icn-middle-logo">
                                        <span></span>
                                        <span id="button-1042-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span>
                            </button>
                        </em>
                    </div>
                    <div class="x-btn x-box-item x-btn-workplace-small x-noicon x-btn-noicon x-btn-workplace-small-noicon btn-b4" 
                        style="padding: 6px 0px; border-width: 1px; left: 60px; margin: 0px; width: 60px;" id="button-1043">
                        <em id="button-1043-btnWrap">
                            <button id="button-1043-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Рабочий стол" style="height: 30px; width: 57px;">
                                <span id="button-1043-btnInnerEl" class="x-btn-inner" style="height: auto; line-height: normal; width: 57px;">
                                    <span class="icn-middle-display">
                                        <span></span>
                                        <span id="button-1043-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span>
                            </button>
                        </em>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="x-tab-bar x-column x-tab-bar-default x-top x-tab-bar-top x-tab-bar-default-top x-horizontal x-tab-bar-horizontal x-tab-bar-default-horizontal x-unselectable x-scroller x-tab-bar-scroller x-tab-bar-default-scroller" 
            style="border-width: 1px; width: 221px;" id="tabbar-1011">
            <div id="tabbar-1011-body" class="x-tab-bar-body x-tab-bar-body-top x-tab-bar-body-default-top x-tab-bar-body-horizontal x-tab-bar-body-default-horizontal x-tab-bar-body-default x-tab-bar-body-default-top x-tab-bar-body-default-horizontal x-box-layout-ct" 
                style="width: 221px;">
                <div class="x-box-inner x-box-scroller-left" id="ext-gen6363">
                    <div id="tabbar-1011-before-scroller" class="x-box-scroller x-tabbar-scroll-left x-unselectable x-tabbar-scroll-left-disabled" style="">

                    </div>
                </div>
                <div id="tabbar-1011-innerCt" class="x-box-inner x-horizontal-box-overflow-body" role="presentation" style="width: 121px; height: 68px;">
                    <div id="tabbar-1011-targetEl" style="position: absolute; width: 121px; left: 0px; top: 0px; height: 1px;">
                        <div class="x-tab x-box-item x-tab-default x-top x-tab-top x-tab-default-top" style="border-width: 1px; display: none;" id="tab-1040">
                            <em id="tab-1040-btnWrap">
                                <button id="tab-1040-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off">
                                    <span id="tab-1040-btnInnerEl" class="x-tab-inner" style="">&nbsp;</span>
                                    <span id="tab-1040-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                        </div>
                        <div class="x-tab x-box-item x-tab-default x-top x-tab-top x-tab-default-top" style="border-width: 1px; display: none;" id="tab-1041">
                            <em id="tab-1041-btnWrap">
                                <button id="tab-1041-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off">
                                    <span id="tab-1041-btnInnerEl" class="x-tab-inner" style="">&nbsp;</span>
                                    <span id="tab-1041-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                        </div>
                        <div class="x-tab x-box-item x-tab-default x-noicon x-tab-noicon x-tab-default-noicon x-top x-tab-top x-tab-default-top x-closable x-tab-closable x-tab-default-closable x-closable-top x-tab-closable-top x-tab-default-closable-top x-pressed x-tab-pressed x-tab-default-pressed x-active x-tab-active x-tab-default-active x-top-active x-tab-top-active x-tab-default-top-active" style="border-width: 1px; left: 0px; top: 0px; margin: 0px;" id="tab-1521">
                            <em id="tab-1521-btnWrap">
                                <button id="tab-1521-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off" style="height: 60px;">
                                    <span id="tab-1521-btnInnerEl" class="x-tab-inner" style="">Объекты капитального ремонта</span>
                                    <span id="tab-1521-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                            <a id="tab-1521-closeEl" href="#" class="x-tab-close-btn" title=""></a>
                        </div> 
                        <div class="x-tab x-box-item x-tab-default x-noicon x-tab-noicon x-tab-default-noicon x-top x-tab-top x-tab-default-top x-closable x-tab-closable x-tab-default-closable x-closable-top x-tab-closable-top x-tab-default-closable-top" style="border-width: 1px; left: 193px; top: 0px; margin: 0px;" id="tab-1727">
                            <em id="tab-1727-btnWrap">
                                <button id="tab-1727-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off" style="height: 60px;">
                                    <span id="tab-1727-btnInnerEl" class="x-tab-inner" style="">Объект КР</span>
                                    <span class="x-tab-subtitle">ул. Сущёвский Вал, д. 62</span>
                                    <span id="tab-1727-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                            <a id="tab-1727-closeEl" href="#" class="x-tab-close-btn" title=""></a>
                        </div>
                        <div class="x-tab x-box-item x-tab-default x-noicon x-tab-noicon x-tab-default-noicon x-top x-tab-top x-tab-default-top x-closable x-tab-closable x-tab-default-closable x-closable-top x-tab-closable-top x-tab-default-closable-top" style="border-width: 1px; left: 386px; top: 0px; margin: 0px;" id="tab-1960">
                            <em id="tab-1960-btnWrap">
                                <button id="tab-1960-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off" style="height: 60px;">
                                    <span id="tab-1960-btnInnerEl" class="x-tab-inner" style="">Реестр договоров на КР и на услуги</span>
                                    <span id="tab-1960-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                            <a id="tab-1960-closeEl" href="#" class="x-tab-close-btn" title=""></a>
                        </div>
                        <div class="x-tab x-box-item x-tab-default x-noicon x-tab-noicon x-tab-default-noicon x-top x-tab-top x-tab-default-top x-closable x-tab-closable x-tab-default-closable x-closable-top x-tab-closable-top x-tab-default-closable-top" style="border-width: 1px; left: 579px; top: 0px; margin: 0px;" id="tab-2320">
                            <em id="tab-2320-btnWrap">
                                <button id="tab-2320-btnEl" type="button" class="x-tab-center" hidefocus="true" role="button" autocomplete="off" style="height: 60px;">
                                    <span id="tab-2320-btnInnerEl" class="x-tab-inner" style="">Договор подряда</span>
                                    <span class="x-tab-subtitle">ПКРД-001648-25</span><span id="tab-2320-btnIconEl" class="x-tab-icon "></span>
                                </button>
                            </em>
                            <a id="tab-2320-closeEl" href="#" class="x-tab-close-btn" title=""></a>
                        </div>
                    </div>
                </div>
                <div class="x-box-inner x-box-scroller-right" id="ext-gen6364">
                    <div id="tabbar-1011-after-scroller" class="x-box-scroller x-tabbar-scroll-right x-unselectable" style=""></div>
                </div>
            </div>
            <div id="tabbar-1011-strip" class="x-tab-bar-strip x-tab-bar-strip-default x-tab-bar-strip-default-top x-tab-bar-strip-default-horizontal" style="width: 221px;">

            </div>
        </div>
        {% comment %} <div class="x-container x-column x-container-default x-box-layout-ct" style="position:relative;right:0px;z-index:9999;width:600px;" id="container-1013">
            <div id="container-1013-innerCt" class="x-box-inner " role="presentation" style="width: 600px; height: 68px;">
                <div id="container-1013-targetEl" style="position: absolute; width: 600px; left: 0px; top: 0px; height: 1px;">
                    <div class="x-btn x-box-item x-btn-permission-small x-noicon x-btn-noicon x-btn-permission-small-noicon btn-b4" style="padding: 8px 0px 0px; border-width: 1px; width: 60px; display: none;" id="button-1014">
                        <em id="button-1014-btnWrap">
                            <button id="button-1014-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Настройка прав доступа">
                                <span id="button-1014-btnInnerEl" class="x-btn-inner" style="">
                                    <span class="icn-middle-state-permission">
                                        <span></span>
                                        <span id="button-1014-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span><
                            </button>
                        </em>
                    </div>
                    <div class="x-btn x-box-item x-btn-quickMenu-small x-noicon x-btn-noicon x-btn-quickMenu-small-noicon btn-b4" style="padding: 6px 0px; border-width: 1px; left: 0px; top: 0px; margin: 0px;" id="button-1044">
                        <em id="button-1044-btnWrap" class="x-btn-b4arrow x-btn-b4arrow-right">
                            <button id="button-1044-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Быстрая навигация" style="height: 30px; width: 57px;">
                                <span id="button-1044-btnInnerEl" class="x-btn-inner" style="height: auto; line-height: normal; width: 57px;">
                                    <span class="icn-middle-history">
                                        <span></span>
                                        <span id="button-1044-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span>
                            </button>
                        </em>
                    </div>
                    <div class="x-btn x-box-item x-btn-quickMenu-small x-noicon x-btn-noicon x-btn-quickMenu-small-noicon btn-b4" style="padding: 6px 0px; border-width: 1px; left: 60px; top: 0px; margin: 0px;" id="button-1050">
                        <em id="button-1050-btnWrap" class="x-btn-b4arrow x-btn-b4arrow-right">
                            <button id="button-1050-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Уведомления" style="height: 30px; width: 57px;">
                                <span id="button-1050-btnInnerEl" class="x-btn-inner" style="height: auto; line-height: normal; width: 57px;">
                                    <span class="icn-middle-notification">
                                        <span class="btn-notification-counter" hidden=""></span>
                                        <span id="button-1050-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span>
                            </button>
                        </em>
                    </div>
                    <div class="x-btn x-box-item x-btn-default-small" style="border-width: 0px; height: 68px; left: 120px; top: 0px; margin: 0px; width: 420px;" id="topbaruserinfo-1055">
                        <div class="user_info">
                            <img src="content/images/gerb-mini.png">ООО "ВЫМПЕЛСТРОЙ"
                            <div class="user_post">
                                <span class="user_role">Подрядная организация</span>
                                <span class="user_place">ДКР г.Москвы</span>
                            </div>
                        </div>
                    </div>
                    <div class="x-btn x-box-item x-btn-logout-small x-noicon x-btn-noicon x-btn-logout-small-noicon btn-b4" style="padding: 6px 0px; border-width: 1px; left: 540px; top: 0px; margin: 0px;" id="button-1056">
                        <em id="button-1056-btnWrap">
                            <button id="button-1056-btnEl" type="button" class="x-btn-center" hidefocus="true" role="button" autocomplete="off" data-qtip="Выход" style="height: 30px; width: 57px;">
                                <span id="button-1056-btnInnerEl" class="x-btn-inner" style="height: auto; line-height: normal; width: 57px;">
                                    <span class="icn-middle-exit">
                                        <span></span>
                                        <span id="button-1056-btnIconEl" class="x-btn-icon "></span>
                                    </span>
                                </span>
                            </button>
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="x-component x-container-text-container x-column x-component-default" style="text-align:left;" id="desktoptopbar-1012_hd">
            <span id="desktoptopbar-1012_hd-textEl" class="x-container-text x-container-text-b4TopBar">&nbsp;</span>
        </div> {% endcomment %}
        <div class="x-clear"></div>
    </div>
</body>
</html>