{% extends 'base.html' %}
{% load static %}
{% block title %}Контрагенты{% endblock title %}

<!-- Begin page sidebar -->
{% block sidebar %}
    {% comment %} <div class="list-group" id="list-tab" role="tablist"> {% endcomment %}
    <div class="list-group">
        {% if request.user.is_authenticated %}
        <a class="list-group-item list-group-item-action active" href="{% url "counterparty-list" %}" role="tab">Список контрагентов</a>
        <a class="list-group-item list-group-item-action" href="{% url "add-counterparty" %}" role="tab">Добавить контрагентов</a>
        {% endif %}
    </div>
{% endblock %}

<!-- Begin page content -->
{% block content %}
    <div class="container" style="margin-top: 48px;">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding: 0px 20px 10px 0px;">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url "add-counterparty" %}">Добавить контрагента </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Наименование организации</th>
                            {% comment %}
                            <th scope="col">Полное наименование организации</th>
                            <th scope="col">Юридический адрес</th>
                            <th scope="col">Почтовый адрес</th> 
                            {% endcomment %}
                            <th scope="col">ИНН</th>
                            <th scope="col">КПП</th>
                            <th scope="col">ОГРН</th>
                            {% comment %} 
                            <th scope="col">Наименование банка</th>
                            <th scope="col">Расчетный счет</th>
                            <th scope="col">Кор. счет</th>
                            <th scope="col">БИК</th> 
                            {% endcomment %}
                            <th scope="col">Номер телефона</th>
                            <th scope="col">e-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for counterparty in counterparties %}
                            <tr>
                                <td scope="row">{{ counterparty.id }} </td>
                                <td>
                                    <a href="{% url "counterparty-detail" counterparty.id %}">{{counterparty.name_sokr}}</a>
                                    {% if counterparty.user == request.user %}

                                        <a href="{% url "counterparty-edit" counterparty.id %}">
                                            <i style="color: blue;" class="bi bi-pencil-square"></i>
                                        </a>

                                        <a href="{% url "counterparty-delete" counterparty.id %}">
                                            <i style="color: red;" class="bi bi-trash"></i>
                                        </a>
                                        
                                    {% endif %}
                                </td>
                                {% comment %} <td>{{counterparty.name_poln}}</td> {% endcomment %}
                                {% comment %} <td>{{counterparty.ur_adres}}</td> {% endcomment %}
                                {% comment %} <td>{{counterparty.pocht_adres}}</td> {% endcomment %}
                                <td>{{counterparty.inn}}</td>
                                <td>{{counterparty.kpp}}</td>
                                <td>{{counterparty.ogrn}}</td>
                                {% comment %} <td>{{counterparty.name_bank}}</td> {% endcomment %}
                                {% comment %} <td>{{counterparty.rs}}</td> {% endcomment %}
                                {% comment %} <td>{{counterparty.ks}}</td> {% endcomment %}
                                {% comment %} <td>{{counterparty.bik}}</td> {% endcomment %}
                                <td>{{counterparty.phone}}</td>
                                <td>{{counterparty.email}}</td>
                                {% comment %} <td>{{ snippet.user.username }}</td> {% endcomment %}
                                {% comment %} <td>
                                    {% if counterparty.public %}
                                        Публичный
                                    {% else %} 
                                        Приватный
                                    {% endif %}
                                </td>  {% endcomment %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4"> Нет доступных контрагентов! </td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                </table> 
                <div align = "right">
                    <i style="color: gray;">Всего контрагентов: {{ counterparties.count }} </i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

