{% extends 'base.html' %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <fieldset disabled>
                    <div class="row disabled">
                        <div class="col col-8">
                            Наименование проекта: <input type="text" value="{{project.name_project}}" class="form-control">
                            Адрес объекта: <input type="text" value="{{project.projects_adres}}" class="form-control">
                            Заказчик: <input type="text" value="{{project.zakazchik_name}}" class="form-control">
                            Застройщик: <input type="text" value="{{project.zastroschik_name}}" class="form-control">
                            Генподрядчик: <input type="text" value="{{project.genpodryadchyk_name}}" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}