{% extends 'base.html' %}

{% block content %}
<!-- Begin page content -->
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url "add-project" %}">Добавить проект</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Наименование проекта</th>
                            <th scope="col">Адрес объекта</th>
                            <th scope="col">Заказчик</th>
                            <th scope="col">Застройщик</th>
                            <th scope="col">Генподрядчик</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td scope="row">{{ project.id }} </td>
                                <td>
                                    <a href="{% url "project-detail" project.id %}">{{project.name_project}}</a>
                                    {% if project.user == request.user %}
                                        <a href="{% url "project-edit" project.id %}">
                                            <i style="color: blue;" class="bi bi-pencil-square"></i>
                                        </a>
                                        <a href="{% url "project-delete" project.id %}">
                                            <i style="color: red;" class="bi bi-trash"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{project.projects_adres}}</td>
                                <td>{{project.zakazchik_name}}</td>
                                <td>{{project.zastroschik_name}}</td>
                                <td>{{project.genpodryadchyk_name}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4"> Нет доступных проектов! </td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                </table> 
                <div align = "right">
                    <i style="color: gray;">Всего проектов: {{ projects.count }} </i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

